:root{
    --size: 400px;
    --box-size: calc(var(--size)/3)
}

.parent{
    display:grid;
    width: var(--size);
    aspect-ratio: 1;
    grid-template-columns: repeat(4, 3fr);
    gap: .1rem;
    place-items: center;
    margin: .5rem;
}
.box{
    aspect-ratio: 1;
    width: var(--box-size);
    background-color: rgb(147, 147, 147);
    display: flex;
    align-items: center;
    justify-content: center;
}

.box > h4 {
    margin: 0;
    font-size: 48px;
}